
// POISSON

@use "./../abstract/_variables.scss" as v;
@use "./../abstract/_mixins.scss" as m;


.fish {

	background:v.$color-bg;
	border-radius:3px;
	box-shadow:4px 4px 15px rgba(0,0,0,0.1); 
	@include m.pos-absolute-0;	
	transition:all 3900ms 100ms v.$cubic-surface;

	@include m.fish-generator (v.$fish);
}

