
//MENU 

@use "./../abstract/_variables.scss" as v;
@use "./../abstract/_mixins.scss" as m;


.menu {

	&__cta {

		//LAYOUT
		width:v.$menu-dim;
		height:v.$menu-dim;
		position:absolute;
		top:v.$menu-top;
		left:v.$menu-left;
		border-radius:10px;

		//PAINT
		background:transparent;
		border:1px solid v.$color-menu;

		display:flex;
		justify-content:center;
		align-items:center;
		z-index:2;
		cursor:pointer;

		//ANIMATION
		opacity:1;
		animation:anim-button__appear 11s 2s backwards v.$cubic-rebond; //, anim-button__opacity 10s 13s v.$cubic-rebond alternate infinite;
		transition:transform 1400ms 80ms v.$cubic-rebond; // Match avec le transforme de .menu dans _menu.scss

		&::before {
			content:"";
			position:absolute;
			z-index:2;

			//LAYOUT
			height:100%;
			width:100%;
			border-radius:10px;

			//PAINT
			background:v.$color-menu;
			border:1px solid v.$color-menu;

			//ANIMATION
			opacity:0;
			transition:opacity 550ms 700ms ease-in-out;
		}
	
		&:hover {
			transform:rotate(360deg);
			transition:transform 1400ms 80ms v.$cubic-rebond;

			&::before {
				opacity:1;
			}

			> .menu__circle {
				border:1px solid v.$color1; 
				animation: anim-circle 900ms linear infinite forwards;
			}

			~ .menu__box {

				> .menu__box__texte {
				transform:translateX(v.$menu-dim*4); //Prend la transition associée au :hover
				}

				> .menu__barre--top {
				transform:translateX(v.$menu-dim*4); //Prend la transition associée au :hover
				}

				> .menu__barre--bot {
				transform:translateX(v.$menu-dim*-4 - 15px);
				}
			}

			~ .animal {

				> .animal__image {
					width:550px;
					border:1px solid v.$color-menu;
					//transform:translateX(-40px);
					animation:anim-animal__image 7s 1000ms alternate linear infinite;
				}

				> .animal__desc {
					opacity:1;
					height:600px;
					border:1px solid v.$color3;
					//transform:translateY(20px);
					animation:anim-animal__desc 12s 500ms alternate linear infinite;
						
					> .animal__texte {
						transform:translateX(-30px);
						opacity:1;
						transition:transform 600ms 450ms ease-in-out, opacity 800ms 400ms ease-in-out;
					}
				}
			}

		}
	}

	&__circle {

		//LAYOUT
		width:5px;
		height:5px;
		border-radius:20px;
		z-index:2;

		//PAINT
		border:1px solid v.$color-menu;
		transition:border 800ms 750ms;

		//ANIMATION
		animation: anim-circle 2200ms linear infinite forwards;
	}

	&__box {
		overflow:hidden;

		//LAYOUT
		width:v.$menu-dim * 4 + 15px;
		height:v.$menu-dim;
		position:absolute;
		top:v.$menu-top;
		left:v.$menu-left+v.$menu-dim+10px;

		//PAINT

		display:flex;
		flex-direction:column;
		justify-content:space-around;

		&__texte {
			position:absolute;
			left:-4*v.$menu-dim;

			//ANIMATION
			transition:transform 1400ms 100ms v.$cubic-rebond;
		}
	}

	&__barre {
		width:v.$menu-dim * 4;
		height:1px;
		background:v.$color-menu;
		position:absolute;
		transition:transform 1400ms 100ms v.$cubic-rebond;

		&--top {
			left:-4*v.$menu-dim;
			top:5%;
			transition:transform 1400ms 40ms v.$cubic-rebond;
		}

		&--bot {
			left:4*v.$menu-dim + 15px;
			top:95%;
			transition:transform 1400ms 170ms v.$cubic-rebond;
		}
	}
}


@keyframes anim-circle {

	from {
		opacity:0;
	}
	5%, 30% {
		opacity:0.5;
	}
	10%, 25% {
		opacity:1;
	}
	35%, 100% {
		opacity:0;
		width:30px;
		height:30px;
	}
}
