
//MENU 

@use "./../abstract/_variables.scss" as v;
@use "./../abstract/_mixins.scss" as m;


.menu {

	//LAYOUT
	width:50px;
	height:50px;
	position:absolute;
	top:30px;
	left:30px;
	border-radius:10px;

	//PAINT
	background:transparent;
	border:1px solid v.$ivoire-jaune;

	display:flex;
	justify-content:center;
	align-items:center;
	z-index:2;
	cursor:pointer;

	//ANIMATION
	opacity:1;
	animation:anim-button__appear 11s 2s backwards v.$cubic-rebond; //, anim-button__opacity 10s 13s v.$cubic-rebond alternate infinite;

	&::before {
		content:"";
		position:absolute;
		z-index:2;

		//LAYOUT
		height:100%;
		width:100%;
		border-radius:10px;

		//PAINT
		background:v.$ivoire-jaune;
		border:1px solid v.$ivoire-jaune;

		//ANIMATION
		opacity:0;
		transition:opacity 550ms 700ms ease-in-out;
	}
	
	&:hover {
		transform:rotate(360deg);
		transition:transform 1400ms 150ms v.$cubic-rebond;

		&::before {
			opacity:1;
		}

		> .menu__circle {
			border:1px solid v.$bleu-inter; 
		}
	}

	&__circle {

		//LAYOUT
		width:5px;
		height:5px;
		border-radius:20px;
		z-index:2;

		//PAINT
		border:1px solid v.$ivoire-jaune;
		transition:border 800ms 750ms;

		//ANIMATION
		animation: anim-circle 3s linear infinite forwards;
			
	}

}


@keyframes anim-circle {

	from {
		opacity:0;
	}
	5%, 30% {
		opacity:0.5;
	}
	10%, 25% {
		opacity:1;
	}
	35%, 100% {
		opacity:0;
		width:30px;
		height:30px;
	}
}
