
// MIXINS
@use "./_variables.scss" as v;


//OMBRES
@mixin shadow($color:v.$black) {
	text-shadow:5px 5px 12px -5px $color;
}

//BORDERS
@mixin borders ($color:v.$black) {
	border:1px solid $color;
}

//ABSOLUTE 0
@mixin pos-absolute-0 {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

//FISH GENERATOR
@mixin fish-generator ($fish) {
	@each $nom, $valeur in v.$fish {
		&--#{$nom} {
			background:darken(v.$color-fish,map-get($valeur, couleur));
			width:map-get($valeur, width);
			height:map-get($valeur, height);
			top:percentage(calc(random(97)/100));
			left:calc(map-get($valeur, width)*-1);
			animation: fish-anim map-get($valeur, anim-duration) map-get($valeur, anim-delay) map-get($valeur, anim-type) cubic-bezier(.84,.74,.44,.65) infinite;
			}
		}
	
	//FISH ANIMATE
	@keyframes fish-anim {
	#{v.$percentage-fish2}% {
		transform:translateY(5vh);
		}
	#{v.$percentage-fish}%, 100% {
		transform:translateX(110vw);
		}
	}
}

//BUBBLE GENERATOR
@mixin bubble-generator ($bubble) {
	@each $nom, $valeur in v.$bubble {
		&--#{$nom} {
			width:map-get($valeur, width);
			height:map-get($valeur, height);
			top:map-get($valeur, top-start);
			left:map-get($valeur, left-start);
		}
	}
}

//BUBBLE ANIMATE
@mixin anim-bubble ($bubble) {
	@each $nom, $valeur in v.$bubble {
		~ .bubble--#{$nom} {
			animation: bubble-anim--#{$nom} map-get($valeur, anim-duration) map-get($valeur, anim-delay) map-get($valeur, anim-type) linear infinite;
		}

		@keyframes bubble-anim--#{$nom} {
			0% {
				opacity:0;
			}
			25% {
				opacity:0.7;
			}
			50% {
				opacity:1;
				left:map-get($valeur, left-start) + map-get($valeur, left-delta);
			}
			75% {
				opacity:1;
				left:map-get($valeur, left-start) - map-get($valeur, left-delta);
			}
			100% {
				opacity:0;
				top:map-get($valeur, top-start) - map-get($valeur, top-delta);
			}
		}
	}
}


// MIXIN @MEDIA BREAKPOINT
@mixin mobile {
	@media (max-width:map-get(v.$breakpoints, mobile)) {
		@content
	}
}

@mixin tablet {
	@media (max-width:map-get(v.$breakpoints, tablet)) {
		@content
	}
}
@mixin desktop-small {
	@media (max-width:map-get(v.$breakpoints, desktop-small)) {
		@content
	}
}
@mixin desktop-medium {
	@media (max-width:map-get(v.$breakpoints, desktop-medium)) {
		@content
	}
}
