
// VARIABLES

// COULEURS

$white:#FFFFFF;
$black:#000000;
$vert-menthe:#2CDDA6;
$bleu-marine:#001534;
$vert-clair:#D6FFF5;
$ivoire:#F0DFC7;
$ivoire-jaune:#E8D5B5;

$bleu-surface:#00d4ff;
$bleu-inter:#090979;
$bleu-abysse:#020024;

$color1:$bleu-inter;
$color2:$bleu-surface;
$color3:$bleu-abysse;
$color-fish:$ivoire;
$color-bubble:$ivoire;
$color-bg:$white;
$color-menu:$ivoire-jaune;

// PATH
$image-path:"images/";


// SIZE / ESPACEMENTS
$padding__page:1rem 1rem 1rem 1rem;
$margin__page:1rem 1rem 1rem 1rem;


// FONT SIZE
$font-size :(
	titre1:3rem,
	titre2:2rem,
	titre3:1.5rem,
	button:2rem,
	menu:1rem,
	texte:1rem,
	quote:0.6rem,
	nav:1.5rem,
);

// PERCENTAGE KEYFRAME FISH
$percentage-fish:calc(random(15) + 75);
$percentage-fish2:random(60);

// ANIMATION CUBIC-BEZIER
$cubic-rebond: cubic-bezier(0.68, -0.55, 0.38, 1.55);
$cubic-rebond--ease:cubic-bezier(.99,-0.22,.27,1.19);
$cubic-bubble:cubic-bezier(.99,-0.11,1,1.5);
$cubic-plunge:cubic-bezier(.36,-0.26,0,1.91);
$cubic-surface:cubic-bezier(.62,1.08,.26,1.05);
$cubic-menu:cubic-bezier(.42,-0.24,.71,1.26);


//MENU
$menu-top:30px;
$menu-left:30px;
$menu-dim:50px;


//FISH
$fish :(
	xxs:(
		width:4px,
		height:2px,
		top:percentage(calc(random(97)/100)),
		anim-duration:calc(random(30000) + 20000)+ms,
		anim-delay:random(25000)+ms,
		anim-type:normal,
		couleur:25%,
		),
	xs:(
		width:5px,
		height:2px,
		top:percentage(calc(random(97)/100)),
		anim-duration:calc(random(28000) + 18000)+ms,
		anim-delay:random(30000)+ms,
		anim-type:reverse,
		couleur:20%,
		),
	s:(
		width:6px,
		height:3px,
		top:percentage(calc(random(97)/100)),
		anim-duration:calc(random(24000) + 17000)+ms,
		anim-delay:random(35000)+ms,
		anim-type:normal,
		couleur:15%,
		),
	m:(
		width:10px,
		height:5px,
		top:percentage(calc(random(97)/100)),
		anim-duration:calc(random(18000) + 15000)+ms,
		anim-delay:random(40000)+ms,
		anim-type:normal,
		couleur:12%,
		),
	l:(
		width:12px,
		height:6px,
		top:percentage(calc(random(97)/100)),
		anim-duration:calc(random(12000) + 12000)+ms,
		anim-delay:random(40000)+ms,
		anim-type:reverse,
		couleur:10%,
		),
	xl:(
		width:14px,
		height:8px,
		top:percentage(calc(random(97)/100)),
		anim-duration:calc(random(10000) + 10000)+ms,
		anim-delay:random(45000)+ms,
		anim-type:normal,
		couleur:8%,
		),
	xxl:(
		width:16px,
		height:8px,
		top:percentage(calc(random(97)/100)),
		anim-duration:calc(random(10000) + 9000)+ms,
		anim-delay:random(45000)+ms,
		anim-type:reverse,
		couleur:5%,
		),
);

//BUBBLE
$bubble :(
	xxs:(
		width:8px,
		height:8px,
		anim-duration:6000ms,
		anim-delay:850ms,
		top-start:62%,
		top-delta:48%,
		left-start:percentage(calc((60 - random(20))/100)),
		left-delta:1%,
		),
	xs:(
		width:10px,
		height:10px,
		anim-duration:7000ms,
		anim-delay:740ms,
		top-start:64%,
		top-delta:41%,
		left-start:percentage(calc((60 - random(20))/100)),
		left-delta:1.4%,

		),
	s:(
		width:12px,
		height:12px,
		anim-duration:5500ms,
		anim-delay:1040ms,
		top-start:61%,
		top-delta:52%,
		left-start:percentage(calc((60 - random(20))/100)),
		left-delta:0.5%,

		),
	m:(
		width:15px,
		height:15px,
		anim-duration:6000ms,
		anim-delay:1080ms,
		top-start:60%,
		top-delta:45%,
		left-start:percentage(calc((60 - random(20))/100)),
		left-delta:1.2%,
		),
	l:(
		width:18px,
		height:18px,
		anim-duration:4500ms,
		anim-delay:810ms,
		top-start:65%,
		top-delta:38%,
		left-start:percentage(calc((60 - random(20))/100)),
		left-delta:1.1%,

		),
	xl:(
		width:22px,
		height:22px,
		anim-duration:5200ms,
		anim-delay:720ms,
		top-start:65%,
		top-delta:39%,
		left-start:percentage(calc((60 - random(20))/100)),
		left-delta:1%,

		),
	xxl:(
		width:25px,
		height:25px,
		anim-duration:6400ms,
		anim-delay:680ms,
		top-start:62.5%,
		top-delta:51%,
		left-start:percentage(calc((60 - random(20))/100)),
		left-delta:0.8%,

		),
);


//SPEED
$speed :(
	1:(
		width:1px,
		height:45px,
		top-start:220%,
		left-start:12%,
		opacity:1,
		),
	2:(
		width:1px,
		height:120px,
		top-start:150%,
		left-start:20%,
		opacity:1,

		),
	3:(
		width:1px,
		height:90px,
		top-start:80%,
		left-start:26%,
		opacity:0,
		),
	4:(
		width:1px,
		height:150px,
		top-start:120%,
		left-start:35%,
		opacity:1,
		),
	5:(
		width:1px,
		height:105px,
		top-start:70%,
		left-start:45%,
		opacity:0,
		),
	6:(
		width:1px,
		height:200px,
		top-start:135%,
		left-start:60%,
		opacity:1,
		),
	7:(
		width:1px,
		height:30px,
		top-start:90%,
		left-start:72%,
		opacity:0,
		),
	8:(
		width:1px,
		height:75px,
		top-start:250%,
		left-start:76%,
		opacity:1,
		),
	9:(
		width:1px,
		height:300px,
		top-start:160%,
		left-start:91%,
		opacity:1,
		),

);


// BREAKPOINTS
$breakpoints :(
	mobile:480px,
	tablet:768px,
	desktop-small:1024px,
	desktop-medium:1200px,
);


// DIFFERENTS LAYOUTS

