
// TYPOGRAPHY

@use "./../abstract/_variables.scss" as v;
@use "./../abstract/_mixins.scss" as m;


body {
	font-family:Lato, Arial,sans-serif;
}


.button {
	font-size:map-get(v.$font-size, button);
	color:v.$color-fish;
	font-weight:500;
	font-style:normal;
	letter-spacing:0.2rem;
}

.menu__box__texte {
	font-size:map-get(v.$font-size, menu);
	color:v.$ivoire-jaune;
	font-weight:300;
	font-style:normal;
	letter-spacing:0.1rem;
}

