* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}

input {
  display: none;
}

body {
  font-family: Lato, Arial, sans-serif;
}

.button {
  font-size: 2rem;
  color: #F0DFC7;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2rem;
}

.bubble {
  opacity: 0;
  background: transparent;
  border: 1px solid #F0DFC7;
  position: absolute;
  border-radius: 20px;
}
.bubble--xxs {
  width: 8px;
  height: 8px;
  top: 62%;
  left: 43%;
}
.bubble--xs {
  width: 10px;
  height: 10px;
  top: 64%;
  left: 42%;
}
.bubble--s {
  width: 12px;
  height: 12px;
  top: 61%;
  left: 54%;
}
.bubble--m {
  width: 15px;
  height: 15px;
  top: 60%;
  left: 50%;
}
.bubble--l {
  width: 18px;
  height: 18px;
  top: 65%;
  left: 59%;
}
.bubble--xl {
  width: 22px;
  height: 22px;
  top: 65%;
  left: 52%;
}
.bubble--xxl {
  width: 25px;
  height: 25px;
  top: 62.5%;
  left: 50%;
}

.fish {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 3900ms 100ms cubic-bezier(0.62, 1.08, 0.26, 1.05);
}
.fish--xxs {
  background: #d5a662;
  width: 4px;
  height: 2px;
  top: 75%;
  left: -4px;
  animation: fish-anim 35847ms 17232ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--xs {
  background: #dab177;
  width: 5px;
  height: 2px;
  top: 27%;
  left: -5px;
  animation: fish-anim 26685ms 22023ms reverse cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--s {
  background: #e0bd8b;
  width: 6px;
  height: 3px;
  top: 75%;
  left: -6px;
  animation: fish-anim 37786ms 34096ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--m {
  background: #e3c397;
  width: 10px;
  height: 5px;
  top: 67%;
  left: -10px;
  animation: fish-anim 19068ms 23892ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--l {
  background: #e5c89f;
  width: 12px;
  height: 6px;
  top: 59%;
  left: -12px;
  animation: fish-anim 20573ms 27797ms reverse cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--xl {
  background: #e7cda7;
  width: 14px;
  height: 8px;
  top: 34%;
  left: -14px;
  animation: fish-anim 15209ms 28719ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--xxl {
  background: #ebd4b3;
  width: 16px;
  height: 8px;
  top: 47%;
  left: -16px;
  animation: fish-anim 11211ms 43889ms reverse cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
@keyframes fish-anim {
  79%, 100% {
    left: 110%;
  }
}

.speed {
  background: #FFFFFF;
  position: absolute;
  transition: all 1200ms 100ms ease-in;
}
.speed--1 {
  width: 1px;
  height: 45px;
  top: 220%;
  left: 12%;
  opacity: 1;
}
.speed--2 {
  width: 1px;
  height: 120px;
  top: 150%;
  left: 20%;
  opacity: 1;
}
.speed--3 {
  width: 1px;
  height: 90px;
  top: 80%;
  left: 26%;
  opacity: 0;
}
.speed--4 {
  width: 1px;
  height: 150px;
  top: 120%;
  left: 35%;
  opacity: 1;
}
.speed--5 {
  width: 1px;
  height: 105px;
  top: 70%;
  left: 45%;
  opacity: 0;
}
.speed--6 {
  width: 1px;
  height: 200px;
  top: 135%;
  left: 60%;
  opacity: 1;
}
.speed--7 {
  width: 1px;
  height: 30px;
  top: 90%;
  left: 72%;
  opacity: 0;
}
.speed--8 {
  width: 1px;
  height: 75px;
  top: 250%;
  left: 76%;
  opacity: 1;
}
.speed--9 {
  width: 1px;
  height: 300px;
  top: 160%;
  left: 91%;
  opacity: 1;
}

.button {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 320ms 90ms ease-in-out;
  padding: 0.5rem;
  animation: anim-button__appear 11s 2s backwards cubic-bezier(0.68, -0.55, 0.38, 1.55), anim-button__opacity 10s 13s cubic-bezier(0.68, -0.55, 0.38, 1.55) alternate infinite;
}
.button::before {
  content: "";
  z-index: -1;
  width: 6px;
  height: 10px;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  border-radius: 4px;
  background-color: #F0DFC7;
  animation: anim-left 2s 0s cubic-bezier(0.68, -0.55, 0.38, 1.55) alternate infinite;
  transition: all 0.5s cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button::after {
  content: "";
  z-index: -2;
  width: 13px;
  height: 6px;
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  border-radius: 4px;
  background-color: #ce9546;
  animation: anim-bottom 2.8s 0.4s cubic-bezier(0.68, -0.55, 0.38, 1.55) alternate infinite;
  transition: all 0.45s 0.1s cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button:hover {
  color: #020024;
  transform: translate(-50%, -50%) scale(1.1);
}
.button:hover ~ .aquarium__abyss {
  opacity: 1;
  transition: opacity 6900ms 50ms cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button:hover::before {
  border-radius: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: none;
}
.button:hover::after {
  border-radius: 0;
  bottom: -0.25rem;
  right: -0.18rem;
  height: 100%;
  width: 100%;
  animation: none;
}
.button:hover ~ .bubble__box > .bubble--xxs {
  animation: bubble-anim--xxs 3000ms 850ms linear infinite;
}
@keyframes bubble-anim--xxs {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 44%;
  }
  75% {
    opacity: 1;
    left: 42%;
  }
  100% {
    opacity: 0;
    top: 34%;
  }
}
.button:hover ~ .bubble__box > .bubble--xs {
  animation: bubble-anim--xs 4000ms 740ms linear infinite;
}
@keyframes bubble-anim--xs {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 43.4%;
  }
  75% {
    opacity: 1;
    left: 40.6%;
  }
  100% {
    opacity: 0;
    top: 38%;
  }
}
.button:hover ~ .bubble__box > .bubble--s {
  animation: bubble-anim--s 3500ms 1040ms linear infinite;
}
@keyframes bubble-anim--s {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 54.5%;
  }
  75% {
    opacity: 1;
    left: 53.5%;
  }
  100% {
    opacity: 0;
    top: 39%;
  }
}
.button:hover ~ .bubble__box > .bubble--m {
  animation: bubble-anim--m 4000ms 1080ms linear infinite;
}
@keyframes bubble-anim--m {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 51.2%;
  }
  75% {
    opacity: 1;
    left: 48.8%;
  }
  100% {
    opacity: 0;
    top: 35%;
  }
}
.button:hover ~ .bubble__box > .bubble--l {
  animation: bubble-anim--l 2500ms 810ms linear infinite;
}
@keyframes bubble-anim--l {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 60.1%;
  }
  75% {
    opacity: 1;
    left: 57.9%;
  }
  100% {
    opacity: 0;
    top: 47%;
  }
}
.button:hover ~ .bubble__box > .bubble--xl {
  animation: bubble-anim--xl 3200ms 720ms linear infinite;
}
@keyframes bubble-anim--xl {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 53%;
  }
  75% {
    opacity: 1;
    left: 51%;
  }
  100% {
    opacity: 0;
    top: 46%;
  }
}
.button:hover ~ .bubble__box > .bubble--xxl {
  animation: bubble-anim--xxl 4400ms 680ms linear infinite;
}
@keyframes bubble-anim--xxl {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 50.8%;
  }
  75% {
    opacity: 1;
    left: 49.2%;
  }
  100% {
    opacity: 0;
    top: 46.5%;
  }
}
.button:hover ~ .fish__box > .fish {
  transform: translateY(-140vh) scale(0.2) scaleY(8);
  transition: all 10500ms 100ms cubic-bezier(0.36, -0.26, 0, 1.91);
}
.button:hover ~ .speed__box > .speed {
  transform: translateY(-270vh);
  opacity: 1;
  transition: all 2200ms 2400ms ease-in;
}
.button:active::before {
  transform: translate(-0.45rem, -0.1rem);
  transition: transform 120ms cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button:active::after {
  transform: translate(0.35rem, 0.08rem);
  transition: transform 140ms cubic-bezier(0.99, -0.22, 0.27, 1.19);
}

@keyframes anim-fish__abysse {
  5% {
    transform: scaleX(0.5);
  }
  15% {
    transform: scaleY(10);
  }
  100% {
    top: -50%;
  }
}
@keyframes anim-button__appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.65;
  }
}
@keyframes anim-button__opacity {
  0% {
    opacity: 0.65;
  }
  100% {
    opacity: 0.95;
  }
}
@keyframes anim-left {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(0rem, 3.6rem);
  }
}
@keyframes anim-bottom {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(-20.9rem, 0rem);
  }
}
.aquarium {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #020024 2%, #090979 39%, #00d4ff 100%);
}
.aquarium__abyss {
  opacity: 0;
  transition: opacity 7500ms 50ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #020024 96%, #090979 100%);
}
.aquarium::after {
  content: "";
  opacity: 0;
  animation: anim-aquarium 30s 1s alternate linear infinite;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(3deg, #020024 32%, #090979 76%);
}

@keyframes anim-aquarium {
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
/* ABSTRACT */
/* -------- */
/* BASE */
/* ---- */
/* -------- STRUCTURE */
/* ---------- TYPOGRAPHY */
/* LAYOUT */
/* ------ */
/* ------------ HEADER */
/* ------------ BOX */
/* ------------ FORMULAIRE */
/* ------------ FOOTER */
/* COMPOSANTS */
/* ---------- $/
/* ------------ FISH */
/* PAGES */
/* ----- */

/*# sourceMappingURL=style.css.map */
