* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}

input {
  display: none;
}

body {
  font-family: Lato, Arial, sans-serif;
}

.button {
  font-size: 2rem;
  color: #F0DFC7;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.2rem;
}

.menu__box__texte {
  font-size: 1rem;
  color: #E8D5B5;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.1rem;
}

.animal__texte--titre {
  font-size: 2rem;
  color: #000000;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 3px;
}
.animal__texte--desc {
  font-size: 0.6rem;
  color: #000000;
}
.animal__texte--contenu {
  font-size: 1rem;
  color: #000000;
  font-style: normal;
  font-weight: 100;
}

.bubble {
  opacity: 0;
  background: transparent;
  border: 1px solid #F0DFC7;
  position: absolute;
  border-radius: 20px;
}
.bubble--xxs {
  width: 8px;
  height: 8px;
  top: 62%;
  left: 56%;
}
.bubble--xs {
  width: 10px;
  height: 10px;
  top: 64%;
  left: 51%;
}
.bubble--s {
  width: 12px;
  height: 12px;
  top: 61%;
  left: 58%;
}
.bubble--m {
  width: 15px;
  height: 15px;
  top: 60%;
  left: 57%;
}
.bubble--l {
  width: 18px;
  height: 18px;
  top: 65%;
  left: 40%;
}
.bubble--xl {
  width: 22px;
  height: 22px;
  top: 65%;
  left: 49%;
}
.bubble--xxl {
  width: 25px;
  height: 25px;
  top: 62.5%;
  left: 46%;
}

.fish {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 3900ms 100ms cubic-bezier(0.62, 1.08, 0.26, 1.05);
}
.fish--xxs {
  background: #d5a662;
  width: 4px;
  height: 2px;
  top: 85%;
  left: -4px;
  animation: fish-anim 37339ms 12120ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--xs {
  background: #dab177;
  width: 5px;
  height: 2px;
  top: 71%;
  left: -5px;
  animation: fish-anim 25184ms 23964ms reverse cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--s {
  background: #e0bd8b;
  width: 6px;
  height: 3px;
  top: 95%;
  left: -6px;
  animation: fish-anim 17058ms 22318ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--m {
  background: #e3c397;
  width: 10px;
  height: 5px;
  top: 93%;
  left: -10px;
  animation: fish-anim 25741ms 37427ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--l {
  background: #e5c89f;
  width: 12px;
  height: 6px;
  top: 70%;
  left: -12px;
  animation: fish-anim 15452ms 39775ms reverse cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--xl {
  background: #e7cda7;
  width: 14px;
  height: 8px;
  top: 16%;
  left: -14px;
  animation: fish-anim 12584ms 1606ms normal cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
.fish--xxl {
  background: #ebd4b3;
  width: 16px;
  height: 8px;
  top: 68%;
  left: -16px;
  animation: fish-anim 11871ms 16214ms reverse cubic-bezier(0.84, 0.74, 0.44, 0.65) infinite;
}
@keyframes fish-anim {
  78%, 100% {
    left: 110%;
  }
}

.speed {
  background: #FFFFFF;
  position: absolute;
  transition: all 1200ms 100ms ease-in;
}
.speed--1 {
  width: 1px;
  height: 45px;
  top: 220%;
  left: 12%;
  opacity: 1;
}
.speed--2 {
  width: 1px;
  height: 120px;
  top: 150%;
  left: 20%;
  opacity: 1;
}
.speed--3 {
  width: 1px;
  height: 90px;
  top: 80%;
  left: 26%;
  opacity: 0;
}
.speed--4 {
  width: 1px;
  height: 150px;
  top: 120%;
  left: 35%;
  opacity: 1;
}
.speed--5 {
  width: 1px;
  height: 105px;
  top: 70%;
  left: 45%;
  opacity: 0;
}
.speed--6 {
  width: 1px;
  height: 200px;
  top: 135%;
  left: 60%;
  opacity: 1;
}
.speed--7 {
  width: 1px;
  height: 30px;
  top: 90%;
  left: 72%;
  opacity: 0;
}
.speed--8 {
  width: 1px;
  height: 75px;
  top: 250%;
  left: 76%;
  opacity: 1;
}
.speed--9 {
  width: 1px;
  height: 300px;
  top: 160%;
  left: 91%;
  opacity: 1;
}

.button {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 320ms 90ms ease-in-out;
  padding: 0.5rem;
  animation: anim-button__appear 16s 2s backwards cubic-bezier(0.68, -0.55, 0.38, 1.55), anim-button__opacity 10s 18s cubic-bezier(0.68, -0.55, 0.38, 1.55) alternate infinite;
}
.button::before {
  content: "";
  z-index: -1;
  width: 6px;
  height: 10px;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  border-radius: 4px;
  background-color: #F0DFC7;
  animation: anim-left 2s 0s cubic-bezier(0.68, -0.55, 0.38, 1.55) alternate infinite;
  transition: all 0.5s cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button::after {
  content: "";
  z-index: -2;
  width: 13px;
  height: 6px;
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  border-radius: 4px;
  background-color: #ce9546;
  animation: anim-bottom 2.8s 0.4s cubic-bezier(0.68, -0.55, 0.38, 1.55) alternate infinite;
  transition: all 0.45s 0.1s cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button:hover {
  color: #020024;
  transform: translate(-50%, -50%) scale(1.1);
}
.button:hover ~ .aquarium__abyss {
  opacity: 1;
  transition: opacity 6900ms 50ms cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button:hover ~ .menu > .menu__cta {
  transform: translateY(20px);
  transition: transform 2750ms 2100ms cubic-bezier(0.42, -0.24, 0.71, 1.26);
}
.button:hover::before {
  border-radius: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: none;
}
.button:hover::after {
  border-radius: 0;
  bottom: -0.25rem;
  right: -0.18rem;
  height: 100%;
  width: 100%;
  animation: none;
}
.button:hover ~ .bubble__box > .bubble--xxs {
  animation: bubble-anim--xxs 6000ms 850ms linear infinite;
}
@keyframes bubble-anim--xxs {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 57%;
  }
  75% {
    opacity: 1;
    left: 55%;
  }
  100% {
    opacity: 0;
    top: 14%;
  }
}
.button:hover ~ .bubble__box > .bubble--xs {
  animation: bubble-anim--xs 7000ms 740ms linear infinite;
}
@keyframes bubble-anim--xs {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 52.4%;
  }
  75% {
    opacity: 1;
    left: 49.6%;
  }
  100% {
    opacity: 0;
    top: 23%;
  }
}
.button:hover ~ .bubble__box > .bubble--s {
  animation: bubble-anim--s 5500ms 1040ms linear infinite;
}
@keyframes bubble-anim--s {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 58.5%;
  }
  75% {
    opacity: 1;
    left: 57.5%;
  }
  100% {
    opacity: 0;
    top: 9%;
  }
}
.button:hover ~ .bubble__box > .bubble--m {
  animation: bubble-anim--m 6000ms 1080ms linear infinite;
}
@keyframes bubble-anim--m {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 58.2%;
  }
  75% {
    opacity: 1;
    left: 55.8%;
  }
  100% {
    opacity: 0;
    top: 15%;
  }
}
.button:hover ~ .bubble__box > .bubble--l {
  animation: bubble-anim--l 4500ms 810ms linear infinite;
}
@keyframes bubble-anim--l {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 41.1%;
  }
  75% {
    opacity: 1;
    left: 38.9%;
  }
  100% {
    opacity: 0;
    top: 27%;
  }
}
.button:hover ~ .bubble__box > .bubble--xl {
  animation: bubble-anim--xl 5200ms 720ms linear infinite;
}
@keyframes bubble-anim--xl {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 50%;
  }
  75% {
    opacity: 1;
    left: 48%;
  }
  100% {
    opacity: 0;
    top: 26%;
  }
}
.button:hover ~ .bubble__box > .bubble--xxl {
  animation: bubble-anim--xxl 6400ms 680ms linear infinite;
}
@keyframes bubble-anim--xxl {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
    left: 46.8%;
  }
  75% {
    opacity: 1;
    left: 45.2%;
  }
  100% {
    opacity: 0;
    top: 11.5%;
  }
}
.button:hover ~ .fish__box > .fish {
  transform: translateY(-140vh) scale(0.2) scaleY(8);
  transition: all 10500ms 100ms cubic-bezier(0.36, -0.26, 0, 1.91);
}
.button:hover ~ .speed__box > .speed {
  transform: translateY(-270vh);
  opacity: 1;
  transition: all 2200ms 2400ms ease-in;
}
.button:active::before {
  transform: translate(-0.45rem, -0.1rem);
  transition: transform 120ms cubic-bezier(0.99, -0.22, 0.27, 1.19);
}
.button:active::after {
  transform: translate(0.35rem, 0.08rem);
  transition: transform 140ms cubic-bezier(0.99, -0.22, 0.27, 1.19);
}

@keyframes anim-fish__abysse {
  5% {
    transform: scaleX(0.5);
  }
  15% {
    transform: scaleY(10);
  }
  100% {
    top: -50%;
  }
}
@keyframes anim-button__appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}
@keyframes anim-button__opacity {
  0% {
    opacity: 0.95;
  }
  100% {
    opacity: 0.65;
  }
}
@keyframes anim-left {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(0rem, 3.6rem);
  }
}
@keyframes anim-bottom {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(-20.9rem, 0rem);
  }
}
.menu__cta {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #E8D5B5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  animation: anim-button__appear 11s 2s backwards cubic-bezier(0.68, -0.55, 0.38, 1.55);
  transition: transform 1400ms 80ms cubic-bezier(0.68, -0.55, 0.38, 1.55);
}
.menu__cta::before {
  content: "";
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #E8D5B5;
  border: 1px solid #E8D5B5;
  opacity: 0;
  transition: opacity 550ms 700ms ease-in-out;
}
.menu__cta:hover {
  transform: rotate(360deg);
  transition: transform 1400ms 80ms cubic-bezier(0.68, -0.55, 0.38, 1.55);
}
.menu__cta:hover::before {
  opacity: 1;
}
.menu__cta:hover > .menu__circle {
  border: 1px solid #090979;
  animation: anim-circle 900ms linear infinite forwards;
}
.menu__cta:hover ~ .menu__box > .menu__box__texte {
  transform: translateX(200px);
}
.menu__cta:hover ~ .menu__box > .menu__barre--top {
  transform: translateX(200px);
}
.menu__cta:hover ~ .menu__box > .menu__barre--bot {
  transform: translateX(-215px);
}
.menu__cta:hover ~ .animal > .animal__image {
  width: 550px;
  border: 1px solid #E8D5B5;
  animation: anim-animal__image 7s 1000ms alternate linear infinite;
}
.menu__cta:hover ~ .animal > .animal__desc {
  opacity: 1;
  height: 600px;
  border: 1px solid #020024;
  animation: anim-animal__desc 12s 500ms alternate linear infinite;
}
.menu__circle {
  width: 5px;
  height: 5px;
  border-radius: 20px;
  z-index: 2;
  border: 1px solid #E8D5B5;
  transition: border 800ms 750ms;
  animation: anim-circle 2200ms linear infinite forwards;
}
.menu__box {
  overflow: hidden;
  width: 215px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu__box__texte {
  position: absolute;
  left: -200px;
  transition: transform 1400ms 100ms cubic-bezier(0.68, -0.55, 0.38, 1.55);
}
.menu__barre {
  width: 200px;
  height: 1px;
  background: #E8D5B5;
  position: absolute;
  transition: transform 1400ms 100ms cubic-bezier(0.68, -0.55, 0.38, 1.55);
}
.menu__barre--top {
  left: -200px;
  top: 5%;
  transition: transform 1400ms 40ms cubic-bezier(0.68, -0.55, 0.38, 1.55);
}
.menu__barre--bot {
  left: 215px;
  top: 95%;
  transition: transform 1400ms 170ms cubic-bezier(0.68, -0.55, 0.38, 1.55);
}

@keyframes anim-circle {
  from {
    opacity: 0;
  }
  5%, 30% {
    opacity: 0.5;
  }
  10%, 25% {
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
    width: 30px;
    height: 30px;
  }
}
.aquarium {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #020024 2%, #090979 39%, #00d4ff 100%);
}
.aquarium__abyss {
  opacity: 0;
  transition: opacity 7500ms 50ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #020024 96%, #090979 100%);
}
.aquarium::after {
  content: "";
  opacity: 0;
  animation: anim-aquarium 30s 1s alternate linear infinite;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(3deg, #020024 32%, #090979 76%);
}

@keyframes anim-aquarium {
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
.animal__image {
  height: 600px;
  position: absolute;
  top: 8%;
  left: 22%;
  z-index: 6;
  border: 1px solid transparent;
  object-fit: cover;
  width: 0;
  transition: width 800ms 150ms ease-in-out, border 800ms 500ms;
}
.animal__desc {
  width: 500px;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 5;
  background: #E8D5B5;
  opacity: 0;
  height: 0;
  transition: height 550ms ease-in-out, border 600ms 400ms, opacity 1200ms;
  display: flex;
  justify-content: column;
}
.animal__texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  margin: auto;
  position: relative;
  left: 50px;
}
.animal__texte--titre {
  display: block;
  margin-bottom: 20px;
}
.animal__texte--desc {
  margin-bottom: 20px;
}

@keyframes anim-animal__image {
  25% {
    transform: translate(-3px, 0);
  }
  50% {
    transform: translate(-5px, 1px);
  }
  75% {
    transform: translate(-2px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes anim-animal__desc {
  25% {
    transform: translate(1px, 4px);
  }
  50% {
    transform: translate(2px, 7px);
  }
  75% {
    transform: translate(1px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* ABSTRACT */
/* -------- */
/* BASE */
/* ---- */
/* -------- STRUCTURE */
/* ---------- TYPOGRAPHY */
/* LAYOUT */
/* ------ */
/* ------------ HEADER */
/* ------------ BOX */
/* ------------ FORMULAIRE */
/* ------------ FOOTER */
/* COMPOSANTS */
/* ---------- $/
/* ------------ FISH */
/* PAGES */
/* ----- */
/* THEMES */
/* ------ */
/* VENDORS */
/* ------- */

/*# sourceMappingURL=style.css.map */
